.hc1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color:#1d55ae;
}

.hc2{
    display: block;
    font-size: 3vw;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 660px) {

    .hc1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 50px;
        color:#1d55ae;
    }
    
    .hc2{
        display: block;
        font-size: 5vw;
        text-align: center;
        margin: 0;
    }

}